header {
  position: relative;
  display: flex;
  align-items: center;
  height: 100vh;
}

header::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 50%;
  background-color: var(--shade-100);
}

header p,
header h1 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

header h1 {
  font-size: clamp(3rem, 5.6vw, 4.6rem);
  line-height: 1em;
}

header p {
  margin-left: 1%;
  font-size: clamp(0.9rem, 1.8vw, 1.5rem);
  letter-spacing: 0.1em;
  color: var(--shade-500);
}

header .container {
  margin-left: 2vw;
  margin-right: 2vw;
}

.greeting {
  display: flex;
  align-items: center;
  padding: 8vw;
}

.greeting h2 {
  font-size: clamp(2rem, 5vw, 3rem);
  letter-spacing: 0.05em;
  color: var(--shade-500);
}

.greeting p {
  font-size: clamp(1.1rem, 2.5vw, 1.6rem);
  letter-spacing: 0.02em;
  color: var(--grey-txt);
}

.projects {
  display: flex;
  align-items: center;
  padding: 8vw;
  background-color: var(--shade-100);
}

.projects h2 {
  font-size: clamp(2rem, 5vw, 3rem);
  letter-spacing: 0.05em;
  color: var(--shade-500);
}

.project-list {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.project {
  display: flex;
  align-items: center;
  gap: 1em;
  width: 100%;
  height: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  /* border: dashed 2px red; */
}

.project + .project {
  border-top: dashed 0.5px black;
}

.project:nth-child(even) {
  flex-direction: row-reverse;
}

.project-img {
  margin: 0;
}

.project-img img {
  display: block;
  height: auto;
  width: 100%;
}

.project-img,
.project-description {
  width: 50%;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 10em;
  background-color: var(--shade-300);
}

@media screen and (max-width: 756px) {
  .project {
    flex-direction: column;
    gap: unset;
  }
  .project:nth-child(even) {
    flex-direction: column;
  }
  .project-img,
  .project-description {
    width: auto;
    height: 50%;
  }
  .project-description {
    padding: 2em 2em;
    background-color: var(--background-color);
  }
}
