:root {
--primary-background-color: #fafafa;
--secondary-background-color: #efefef;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

/************
 ** HEADER **
 ************/
header {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--primary-background-color);
}

header h1 {
  font-size: 9.5vw;
  font-weight: 900;
  line-height: 1em;
}

header::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50vh;
  z-index: 1;
  background-color: var(--secondary-background-color);
}

header h4 {
  font-size: 3.7vw;
  font-weight: 300;
}

.container {
  width: 100%;
  max-width: 1366px;
  border: solid 3px #f7f7f7;
}

.header-txt {
  width: 90%;
  z-index: 2;
}

@media screen and (min-width: 500px) {
  header h1 {
    font-size: 8.2vw;
  }
  header h4 {
    font-size: 3.1vw;
  }
}

@media screen and (min-width: 720px) {
  header h1 {
    font-size: 5.5vw;
  }
  header h4 {
    font-size: 2.1vw;
  }
}

@media screen and (min-width: 1366px) {
  header h1 {
    font-size: 4.6em;
  }
  header h4 {
    font-size: 1.8em;
  }
}
