body {
  font-family: "Roboto", sans-serif;
}

header h1 {
  font-weight: 900;
}
header .brand {
  font-weight: 300;
  font-size: 0.8em;
  letter-spacing: 0.2em;
}
header .info {
  font-weight: 300;
  font-size: 0.8em;
}
