@import "./animations.css";

/* GLOBAL */
:root {
  --primary-background-color: #fafafa;
  --secondary-background-color: #efefef;
  --secondary-font-color: #3e3e3e;
}

html, body {
  height: 250vh;
}

body {
  display: flex;
  justify-content: center;
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.main-container {
  width: 100%;
  max-width: 1600px;
  border: solid 3px #f7f7f7;
}

/* HEADER */
header {
  position: relative;
  isolation: isolate;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  max-height: 1024px;
  background-color: var(--primary-background-color);
}

header::before {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50%;
  z-index: -1;
  background-color: var(--secondary-background-color);
}

header h1 {
  margin: 0;
  font-size: 9.4vw;
  font-weight: 900;
  line-height: 1em;
}

header h3 {
  margin: 0;
  font-size: 3.6vw;
  font-weight: 400;
  color: var(--secondary-font-color);
}

.head-txt {
  width: 90%;
}

.head-main {
  margin: 1.8vw 0;
}

/* MAIN */
.section-1 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: var(--primary-background-color);
}

.about-txt {
  width: 90%;
}

.about-txt h2 {
  font-size: 40px;
  color: #3d3d3d;
  font-weight: 600;
  letter-spacing: 0.049em;
}

.section-1 p {
  font-size: 24px;
  color: #595959;
  letter-spacing: 0.03em;
}

/* MEDIA */
@media screen and (min-width: 500px) {
  header h1 {
    font-size: 8.5vw;
  }
  header h3 {
    font-size: 2.4vw;
  }
  .head-main {
    margin: 1.2em 0;
  }
}

@media screen and (min-width: 720px) {
  header h1 {
    font-size: 5.3vw;
  }
  header h3 {
    font-size: 1.4vw;
  }
  .head-main {
    margin: 1.5vw 0;
  }
}

@media screen and (min-width: 1600px) {
  header h1 {
    font-size: 5.5em;
  }
  header h3 {
    font-size: 1.8em;
  }
}
